@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap");

:root {
    /* C O L O R - P A L E T T E S */

    /* C O L O R S */
    --BGcolor: rgb(242, 242, 242);
    --FontColor: rgba(13, 13, 13, 1);
    --AccentColor: rgb(112, 0, 0);
    --HoverColor: rgba(247, 247, 247, 1);
    --BorderColor: rgba(204, 204, 204, 1);

    /* F O N T   S I Z E */
    --HeaderFS: 20px;
    --FooterFS: 20px;

    --H1: 32px;
    --H2: 28px;
    --H3: 24px;
    --H4: 20px;
    --H5: 16px;
    --H6: 12px;
    --H7: 8px;

    --padding: 8px;
    --margin: 12px;
    --mainBorder: 1.5px solid var(--BorderColor);
    --mainBorderDashed: 1.5px dashed black;
    --mainBorderRadius: 4px;
}

/* H E L P   C L A S S */

.nowrap {
    word-wrap: no;
}

.outerContainer {
    display: flex;
    flex-direction: row;
    margin: var(--margin) 0;
    border: 0;
    justify-items: center;
    align-items: center;
}

.boxShadow {
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s ease-in;
}

.boxShadow:hover {
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-out;
}

.leftAlign {
    text-align: start;
    width: 100%;
}

.H1 {
    font-size: var(--H1);
}

.H2 {
    font-size: var(--H2);
}

.H3 {
    font-size: var(--H3);
}

.H4 {
    font-size: var(--H4);
}

.H5 {
    font-size: var(--H5);
}

.H6 {
    font-size: var(--H6);
}

.H7 {
    font-size: var(--H7);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Urbanist", sans-serif;
    cursor: default;
}

img {
    display: block;
    height: 100%;
    width: auto;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

button {
    background-color: var(--AccentColor);
    border: var(--mainBorder);
    border-radius: var(--mainBorderRadius);
    color: var(--BGcolor);
    padding: var(--padding);
}

button:hover {
    background-color: transparent;
    color: var(--AccentColor);
    cursor: pointer;
}

button.clicked {
    background-color: transparent;
    color: var(--AccentColor);
}

ul {
    font-size: var(--H5);
    list-style-position: inside;
    list-style-type: none;
}

ul li {
    align-items: center;
    display: flex;
    font-size: var(--H6);
    margin: calc(0.5 * var(--margin)) 0;
}

ul li::before {
    content: "▷";
    /* Fügt den Bindestrich hinzu */
    font-size: var(--H7);
    margin-right: 8px;
    /* Abstand zwischen dem Bindestrich und dem Listentext */
}

input {
    width: 100%;
}

/* Für alle Browser */
input[type="range"] {
    /* Gemeinsame Stile, z. B.: */
    outline: none;
}

/* Für Mozilla (Firefox) */
input[type="range"]::-moz-focus-outer {
    border: 0;
    background-color: transparent;
}

input[type="range"]::-moz-range-thumb {
    background-color: var(--HoverColor);
    border-radius: var(--mainBorderRadius);
    cursor: pointer;
}

input[type="range"]:active::-moz-range-thumb {
    background-color: var(--AccentColor);
}

input[type="range"]:disabled::-moz-range-thumb {
    background-color: transparent;
    border-color: transparent;
}

input[type="range"]::-moz-range-track {
    background-color: var(--HoverColor);
    border-radius: calc(var(--mainBorderRadius) * 2);
    border: var(--mainBorder);
}

input[type="range"]:disabled::-moz-range-track {
    background-color: transparent;
    border-color: transparent;
}

input[type="range"]::-moz-range-progress {
    background-color: var(--AccentColor);
}

input[type="range"]:disabled::-moz-range-progress {
    background-color: transparent;
}

canvas {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
}

a {
    background-color: transparent;
}

html {
    padding: 0 8%;
}

header {
    border: var(--mainBorder);
    display: flex;
    justify-content: space-around;
}

header div {
    display: inline-flex;
    position: relative;
    height: 32px;
    font-size: var(--HeaderFS);
    font-weight: bold;
    column-gap: calc(var(--margin) * 2);
}

header div.logo {
    height: 56px;
}

header div .gridContainer {
    display: inline-flex;
    position: relative;
    height: 32px;
    font-size: var(--HeaderFS);
    font-weight: bold;
    column-gap: calc(var(--margin) * 2);
}

/* Styling for dropdown container */
header .dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

header .dropdown:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 120%;
}

header .dropdown:hover {
    cursor: pointer;
}

header .dropdown .dropbtn {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: var(--FontColor);
    column-gap: calc(var(--margin) * 2);
    display: inline-flex;
    font-size: var(--HeaderFS);
    font-weight: bold;
    height: 32px;
    padding: 4px 12px;
    z-index: 1;
}

header .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.04);
    transition: background-color 0.2s ease-out;
}

/* Hidden by Default */
header .dropdown .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    left: 50%;
    transform: translateX(-50%) translateY(+20%);
}

/* Show the dropdown menu on hover */
header .dropdown:hover .dropdown-content {
    display: grid;
    /* Grid-Layout */
    grid-template-columns: 1fr 1fr;
    /* Zwei Spalten */
    grid-gap: 0;
}

/* Links inside the dropdown */
header .dropdown .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 280px;
    color: black;
    background-color: white;
    border: 1px solid transparent;
    font-weight: lighter;
}

/* Change color of dropdown links on hover */
header .dropdown .dropdown-content a:hover {
    background-color: var(--HoverColor);
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--BorderColor);
    text-underline-offset: 4px;
}

header .dropdown .dropdown-content a:nth-child(odd) {
    border-left: 1px solid var(--BorderColor);
}

header .dropdown .dropdown-content a:nth-child(even) {
    border-right: 1px solid var(--BorderColor);
    text-align: right;
}

header .dropdown .dropdown-content a:first-child {
    /* Runden Sie die oberen Ecken ab */
    border-top-left-radius: 4px;
    border-top: 1px solid var(--BorderColor);
}

header .dropdown .dropdown-content a:nth-child(2) {
    /* Runden Sie die oberen Ecken ab */
    border-top-right-radius: 4px;
    border-top: 1px solid var(--BorderColor);
}

header .dropdown .dropdown-content a:nth-last-child(2) {
    /* Runden Sie die oberen Ecken ab */
    border-bottom-left-radius: 4px;
    border-bottom: 1px solid var(--BorderColor);
}

header .dropdown .dropdown-content a:last-child {
    /* Runden Sie die unteren Ecken ab */
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid var(--BorderColor);
}

main {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main .outerFrame {
    border-radius: var(--mainBorderRadius);
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: var(--padding);
    width: 100%;
}

main .outerFrame .topic {
    border-radius: var(--mainBorderRadius);
    box-shadow: inset 0 0 0 1px var(--AccentColor);
    font-size: var(--H1);
    letter-spacing: 2px;
    padding: var(--padding);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

main .subtopic {
    border-radius: var(--mainBorderRadius);
    box-shadow: inset 0 0 0 1px var(--BorderColor);
    font-size: var(--H3);
    letter-spacing: 2px;
    margin: var(--margin);
    padding: calc(0.5 * var(--padding));
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

main .h3 {
    text-align: start;
}

main .outerContainer {
    width: 95%;
    justify-content: center;
    padding: 0;
    display: inline-flex;
    flex-direction: column;
}

main .outerContainer div {
    width: 100%;
}

main .outerContainer .grid {
    margin: var(--margin);
    display: inline-grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: calc(var(--margin));
    width: 100%;
    margin: var(--margin) 0;
}

main .outerContainer .grid a .gridContainer {
    align-items: center;
    border: 1px solid var(--BorderColor);
    border-radius: var(--mainBorderRadius);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
    color: black;
    display: inline-block;
    font-weight: bold;
    justify-content: center;
    padding: var(--padding);
    text-align: justify;
    transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in;
    width: 100%;

}

main .outerContainer .grid a .gridContainer:hover {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.2);
    background-color: var(--HoverColor);
    transition: box-shadow 0.2s ease-in, background-color 0.1s ease-in;
    cursor: pointer;
}

main .outerContainer .grid a .gridContainer .Themenueberschrift {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding: calc(var(--padding) * 0.2);
    word-wrap: break-word;
    font-size: 20px;
    border-radius: 4px;
}

main .outerContainer .grid a .gridContainer:hover .Themenueberschrift {
    text-decoration: underline;
    text-decoration-color: var(--BorderColor);
    text-underline-offset: 2px;
    cursor: pointer;
}

main .outerContainer .grid a .gridContainer .Themenbeschreibung {
    width: 100%;
    padding: calc(var(--padding) * 0.2);
    word-wrap: break-word;
    font-size: var(--H6);
    font-weight: lighter;
    cursor: pointer;

    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: var(--margin);
    grid-row-gap: 0px;
}

main .outerContainer .grid a .gridContainer:hover .Themenbeschreibung {
    cursor: pointer;
}

main .outerContainer .grid a .Themenbeschreibung img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border: var(--mainBorder);
    border-radius: var(--mainBorderRadius);
    cursor: pointer;
}

main .outerContainer .grid a .Themenbeschreibung div {
    cursor: pointer;
}

main .outerContainer .throwsContainer {
    width: 100%;
}

main .outerContainer #canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

main .outerContainer div input {
    width: 100%;
}

main .outerContainer .canvasContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
}

main .outerContainer .canvasContainer div {
    width: 100%;
}

main .outerContainer .canvasContainer div label {
    display: inline-block;
    vertical-align: middle;
}

main .outerContainer .canvasContainer div select {
    background-color: var(--HoverColor);
    border: var(--mainBorder);
    border-radius: var(--mainBorderRadius);
    display: inline-block;
    margin: var(--margin) 0;
    padding: calc(var(--padding) * 0.5) var(--padding);
    vertical-align: middle;
}

main .outerContainer .canvasContainer div #htDropdown {
    margin-right: calc(var(--margin) * 4);
}

main .outerContainer .canvasContainer div #stDropdown {
    margin-right: var(--margin);
}

main .outerContainer .canvasContainer div input {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
}

main .outerContainer .canvasContainer #canvasContainer {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .outerContainer .canvasContainer #canvasContainer canvas {
    max-height: 60vh;
}

main .outerContainer .canvasFlex {
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: space-evenly; 
    align-items: center;  
    align-content: center;
    margin: var(--margin);
}

main .outerContainer .innerContainer {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
}

main .outerContainer .sliderContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
}

main .outerContainer .sliderContainer input {
    width: 100%;
    padding: var(--padding);
}

main .outerContainer .sliderContainer input:hover {
    cursor: pointer;
}

main .outerContainer .diagramGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: var(--margin) 0;
    width: 100%;
}

main .outerContainer .zahlenContainer {
    margin: 8px 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}

.sliderContainer {
    position: relative;
    margin-bottom: 20px;
}

.sliderContainer #sliderValue {
    position: absolute;
    transform: translateX(-50%);
    bottom: -20px;
    /* Sie können diesen Wert ändern, um den Abstand unter dem Schieberegler anzupassen */
    color: transparent;
}

#myBarChart,
#myPieChart,
#mittelwertChart,
#varianzChart {
    display: inline-block;
    padding: 2px;
    max-height: 200px;
}

#canvasContainerFunktionen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#phi {
    color: var(--AccentColor);
    margin: var(--margin) 0;
    width: 100%;
    text-align: center;
}

/* F O O T E R */

footer div {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: var(--FooterFS);
    color: var(--BorderColor);
}

/* || SMALL */
@media screen and (max-width: 576px) {
    :root {
        --H1: 28px;
        --H2: 24px;
        --H3: 20px;
        --H4: 16px;
        --H5: 12px;
        --H6: 8px;
        --H7: 32px;
    }

    main .outerContainer .grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    header .dropdown .dropdown-content {
        min-width: 240px;
    }

    header .dropdown:hover .dropdown-content {
        display: grid;
        /* Grid-Layout */
        grid-template-columns: 1fr;
        /* Zwei Spalten */
        grid-gap: 0;
    }

    header .dropdown .dropdown-content a:nth-child(even),
    header .dropdown .dropdown-content a:nth-child(odd) {
        text-align: center;
    }

    header .dropdown .dropdown-content a,
    header .dropdown .dropdown-content a:nth-child(2),
    header .dropdown .dropdown-content a:nth-last-child(2) {
        border-right: 1px solid var(--BorderColor);
        border-left: 1px solid var(--BorderColor);
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    header .dropdown .dropdown-content a:first-child {
        /* Runden Sie die oberen Ecken ab */
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-top: 1px solid var(--BorderColor);
    }

    header .dropdown .dropdown-content a {
        border-right: 1px solid var(--BorderColor);
        border-left: 1px solid var(--BorderColor);
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    header .dropdown .dropdown-content a:last-child {
        /* Runden Sie die oberen Ecken ab */
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-bottom: 1px solid var(--BorderColor);
    }

    main .outerContainer .diagramGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    main .outerContainer .zahlenContainer {
        height: calc(12.5*var(--H5));
    }

    main .outerContainer .canvasContainer canvas {
        max-height: 200px;
    }
}

/* || MEDIUM */
@media screen and (max-width: 768px) {

    main .outerContainer .diagramGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    main .outerContainer .zahlenContainer {
        height: calc(8.5*var(--H5));
    }

    main .outerContainer .canvasContainer canvas {
        max-height: 200px;
    }
}

/* || LARGE */
@media screen and (max-width: 992px) {
    main .outerContainer .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    main .outerContainer .diagramGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    main .outerContainer .zahlenContainer {
        height: calc(5*var(--H5));
    }

    main .outerContainer .canvasContainer canvas {
        max-height: 200px;
    }
}

/* || XL  */
@media screen and (min-width: 993px) {
    main .outerContainer .grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    main .outerContainer .diagramGrid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    main .outerContainer .zahlenContainer {
        height: calc(3*var(--H5));
    }

    main .outerContainer .canvasContainer canvas {
        max-height: 200px;
    }
}