.canvas-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Zwei Spalten */
    gap: 20px; /* Abstand zwischen den Canvas-Elementen */
    align-items: center;
}

#myBarChart, #myPieChart, #mittelwertChart, #varianzChart {
    display: inline-block;
    padding: 2px;
} 